VITE_API_BASE_URL=http://localhost:8000

# Google OAuth Client ID, used for "Sign in with Google" on checkout.
# Create one at https://console.cloud.google.com/apis/credentials
VITE_GOOGLE_CLIENT_ID=929251337249-ag6l7kmneg094tb1c8a5npljh81rv3v9.apps.googleusercontent.com

VITE_PAYPAL_CLIENT_ID=AYo1Z25jymTATBBlAw0QU5ahmF0_xaPaUjbU2ehPmitwMsZXdof57ZU2qSxDOV6iwpOWmRBUsnKIl8IH
